# Portas publicadas
FRONTEND_PORT=5173
BACKEND_PORT=8000
POSTGRES_PORT=5432

# Django
DJANGO_SETTINGS_MODULE=reabilita_backend.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@saude.com
RUN_SEED_DEV_USERS=true
DJANGO_DEV_DEFAULT_PASSWORD=Dev@12345
RUN_SEED_REFERENCIAS=false
DB_WAIT_MAX_ATTEMPTS=30
DB_WAIT_INTERVAL_SECONDS=2

# PostgreSQL
POSTGRES_DB=reabilita
POSTGRES_USER=reabilita
POSTGRES_PASSWORD=change-me

# Imagens para deploy em Stack/Portainer (Swarm)
BACKEND_IMAGE=aasj1502/reabilita-backend:latest
FRONTEND_IMAGE=aasj1502/reabilita-frontend:latest
